.SignUp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    margin: 30vh auto;  
    padding: 10px;
    min-height: 215px;
    border-radius: 3px;
    z-index: 10;
    color: white;
    position: relative;
}
.SignUp .form-div {
    z-index: 1;
}
.SignUp .form-div, 
.SignUp .button-div {
    transition: .5s ease-out;
}
.SignUp form {
    border: 1px solid lightgray;
    border-radius: 5px;  
    display: flex;
    flex-direction: column;
    background-color: white;
}
.SignUp input, 
.SignUp button {
    margin: 5px;
}