.Header {
    z-index: 10000;
}
.Header.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.Header .coo {
    font-weight: bold;
}
.Header .coo,
.Header .drive {
    color: #555;
}
.Header .mat {
    color: #00695C;
    font-weight: bold;
}